
.app__specialMenu{
    flex-direction: column;
    background: var(--color-black);
}
.app__specialMenu-title{
    margin-bottom: 2rem;
    text-align: center;
}

.app__specialMenu-menu{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-direction:row;
  
}
.app__specialMenu-menu_foods,.app__specialMenu-menu_cocktails,.app__specialMenu-menu_img{
    padding: 5px;
}
.app__specialMenu_menu_items{
     height: 390px;
     overflow-y: scroll;
     border-left:10px solid rgb(218, 95, 18) ;
   
     border-radius: 15px;

}
::-webkit-scrollbar {
  width: 3px;
}


.app__specialMenu-menu_heading{
    margin-bottom: 15px;
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 10.5px;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

.app__specialMenu-menu_foods,.app__specialMenu-menu_cocktails{
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__specialMenu-menu_img{
    align-content: center;
}
.app__specialMenu-menu .app__specialMenu-menu_img{
width: 40%;
}
.app__specialMenu-menu_img img{
    margin-top: 30px;
    width: 100%;
    align-items: center;
}

@media screen and (max-width:2000px) {
    .app__specialMenu-menu{
        /* flex-direction: column; */
        align-items: center;
        width: 100%;

    }
}
@media screen and (max-width:1150px) {
    .app__specialMenu-menu{
       flex-direction: column;
       align-items: center;
       width: 100%;
    }
    .app__specialMenu-menu_img{
        margin: 3rem 0;
    }
    .app__specialMenu-menu .app__specialMenu-menu_img{
     width: 100%;
      }
}
@media screen and (max-width:650px) {
   
    .app__specialMenu-menu_img{
        width: 100%;
    }
    .app__specialMenu-menu_heading{
        font-size: 35px;
    }
    .app__specialMenu-menu .app__specialMenu-menu_img{
     width: 100%;
      }
}
