.app__header {
    background-color: var(--color-black);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 80px;
    font-size: 60px;
}

.app__wrapper_img img {
    width: 50%;
    border-radius: 50px 0 50px 0;
    transition: transform 0.8s;
}

.app__wrapper_img img:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}